.wrapper {
  background: linear-gradient(to top left, #b2c2ff, #8ef8fd) no-repeat fixed;
  min-height: 100%;
}

@media (min-width: 0px) and (max-width: 900px) {
  .video-area {
    width: 100% !important;
    height: auto;
  }
}

.video-area {
  width: 50%;
  height: auto;
}
