<div class="w-100 wrapper pb-3">
  <button class="btn badge-pill text-white accent-bg-color accent-bg-color__hover mt-4 ml-4"
    (click)="redirectToApplications()">
    <img src="assets/img/icons/arrow-left.png">
    Вернуться
  </button>
  <div class="text-center mt-2">
    <div *ngIf="isVideoLoading" class="d-flex justify-content-center">
      <sa-spinner-dotted [size]="150" [thickness]="150" [color]="'#3f51b5'" [speed]="150"></sa-spinner-dotted>
    </div>
    <video *ngIf="!isVideoLoading && video !== ''" [src]="video"
           class="video-area" type="video/mp4" width="720" height="480" controls>
      Воспроизведение видео не поддерживается Вашим браузером
    </video>
  </div>
</div>
<swal #errorSwal title="Ошибка загрузки" icon="error" text="Не удалось загрузить видео">
</swal>
