.wrapper {
  background: linear-gradient(to top left, #b2c2ff, #8ef8fd) no-repeat fixed;
  min-height: 100%;
}

.title {
  font-weight: bold;
  font-size: x-large;
}

.search-field-wrapper {
  min-width: 300px;
}

.search-field {
  width: 60%;
}

.filters-area {
  border-style: solid;
  border-width: thin;
  border-color: #3f51b5;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px 0 gray;
}

.select-min-width {
  min-width: 200px;
}

.big-checkbox {
  width: 18px;
  height: 18px;
}

.empty-result-message {
  border-style: solid;
  border-width: thin;
  border-color: #3f51b5;
  border-radius: 10px;
  background-color: white;
}

.project-card {
  border-style: solid;
  border-width: thin;
  border-color: #3f51b5;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0 grey;
}

.project-name {
  font-weight: bold;
  font-size: large;
}

.project-photo {
  width: 150px;
  height: 150px;
  transition: transform .2s;
}

.project-photo:hover {
  transform: scale(3);
  z-index: 2;
}

.project-info-list {
  list-style-type: none;
}
