<div class="w-100 wrapper pb-3">
  <div class="d-flex w-100 pt-4 justify-content-center">
    <div class="title px-3">
      Проекты
    </div>
  </div>
  <div class="d-md-flex flex-wrap w-100 mt-4 px-4 justify-content-end">
    <div class="w-50 search-field-wrapper mt-1 text-right">
      <input class="search-field" type="text" autocomplete="no" placeholder="Введите название"
             [(ngModel)]="searchNameInputText" (keydown)="searchNameInputEvent.next(undefined)">
      <span class="ml-2">
        <button class="btn badge-pill accent-bg-color accent-bg-color__hover text-white">
          Искать
        </button>
      </span>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="d-md-flex w-75 flex-wrap w-75 mt-3 mx-4 px-4 justify-content-around filters-area">
      <div class="my-1 d-flex align-items-center">
        <span class="mr-2">
          Телеканал
        </span>
        <div *ngIf="isChannelsSelectLoading" class="d-flex justify-content-center">
          <sa-spinner-dotted [size]="40" [thickness]="150" [color]="'#3f51b5'" [speed]="150"></sa-spinner-dotted>
        </div>
        <ng-select *ngIf="!isChannelsSelectLoading" class="select-min-width" [(ngModel)]="selectedChannelId"
                   [clearable]="true" (clear)="selectedChannelId = null" [notFoundText]="'не найдено'"
                   (change)="onFiltersChange()">
          <ng-option *ngFor="let channel of channels" [value]="channel.id">
            {{channel.name}}
          </ng-option>
        </ng-select>
      </div>
      <div class="my-1 d-flex align-items-center">
        <span class="mr-2">
          Город
        </span>
        <div *ngIf="isCitiesSelectLoading" class="d-flex justify-content-center">
          <sa-spinner-dotted [size]="40" [thickness]="150" [color]="'#3f51b5'" [speed]="150"></sa-spinner-dotted>
        </div>
        <ng-select *ngIf="!isCitiesSelectLoading" class="select-min-width" [(ngModel)]="selectedCityName"
                   [clearable]="true" (clear)="selectedCityName = null" [notFoundText]="'не найдено'"
                   (change)="onFiltersChange()">
          <ng-option *ngFor="let city of cities" [value]="city.name">
            {{city.name}}
          </ng-option>
        </ng-select>
      </div>
      <div class="mt-2 d-flex align-items-center">
        <input id="only-available" class="big-checkbox mb-2" type="checkbox"
               [(ngModel)]="onlyAvailable" (change)="onFiltersChange()">
        <label for="only-available" class="ml-2">
          Остались места
        </label>
      </div>
      <div class="mt-2 d-flex align-items-center">
        <input id="only-fee" class="big-checkbox mb-2" type="checkbox"
               [(ngModel)]="onlyFee" (change)="onFiltersChange()">
        <label for="only-fee" class="ml-2">
          Указан гонорар
        </label>
      </div>
    </div>
  </div>
  <div *ngIf="isCatalogLoading" class="d-flex justify-content-center">
    <sa-spinner-dotted [size]="80" [thickness]="150" [color]="'#3f51b5'" [speed]="150"></sa-spinner-dotted>
  </div>
  <div *ngIf="!isCatalogLoading && projectsCatalog !== undefined && projectsCatalog.projects.length == 0"
       class="d-flex justify-content-center">
    <div class="empty-result-message text-center w-75 mt-3">
      <span *ngIf="searchName === ''">
        Проекты отсутствуют
      </span>
      <span *ngIf="searchName !== ''">
        Поиск не дал результатов
      </span>
    </div>
  </div>
  <div *ngIf="!isCatalogLoading" class="px-5 mt-4">
    <button *ngIf="currentRole == role.Manager" class="btn badge-pill accent-bg-color accent-bg-color__hover text-white"
            (click)="router.navigateByUrl('/new-edit-project/-1')">
      <span>
        <img src="assets/img/icons/plus.png">
      </span>
      Создать проект
    </button>
  </div>
  <div *ngIf="!isCatalogLoading && projectsCatalog !== undefined" class="row px-5">
    <div *ngFor="let project of projectsCatalog.projects" class="col-lg-6 mt-4">
      <div class="project-card bg-white px-5 py-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <div>
            Канал: {{project.channelName}}
          </div>
          <button *ngIf="project.canEdit" class="btn badge-pill accent-bg-color accent-bg-color__hover text-white"
                  (click)="redirectToProjectEditor(project.id)">
            Редактировать
          </button>
        </div>
        <div class="text-center project-name">
          {{project.name}}
        </div>
        <div class="d-sm-flex mt-4 justify-content-around">
          <img *ngFor="let photo of project.photos" class="project-photo" src="{{photo}}">
        </div>
        <div class="d-flex mt-4 justify-content-center">
          <div [innerHTML]="project.description">
          </div>
        </div>
        <div class="d-flex mt-4 justify-content-center">
          <ul class="project-info-list">
            <li>
              <img class="mr-1" src="assets/img/icons/map-pointer.png">
              Город: {{project.city}}
            </li>
            <li>
              <img class="mr-1" src="assets/img/icons/clock.png">
              Начало: {{project.startsAt}}
            </li>
            <li>
              <img class="mr-1" src="assets/img/icons/participant.png">
              Набрано участников: {{project.participantsCount.approved}} из {{project.participantsCount.limit}}
            </li>
            <li *ngIf="project.fee !== null">
              <img class="mr-1" src="assets/img/icons/diamond.png">
              Гонорар: {{project.fee}} Р
            </li>
          </ul>
        </div>
        <div *ngIf="(currentRole == null || currentRole == role.Participant) && !project.isAvailable"
             class="text-center font-weight-bold accent-color">
          Сейчас заявки не принимаются
        </div>
        <div *ngIf="(currentRole == null || currentRole == role.Participant) && project.isAvailable && !project.hasApplied"
             class="d-flex justify-content-center">
          <button class="btn w-75 badge-pill accent-bg-color accent-bg-color__hover text-white"
                  (click)="onBtnCreateApplicationClick(project.id)">
            Подать заявку
          </button>
        </div>
        <div *ngIf="currentRole == role.Participant && project.hasApplied"
             class="text-center font-weight-bold accent-color">
          <img src="assets/img/icons/check-mark.png">
          Заявка отправлена на канал
        </div>
      </div>
    </div>
  </div>
  <div class="my-4" [hidden]="projectsCatalog === undefined || projectsCatalog.projects.length == 0">
    <app-pagination #paginator></app-pagination>
  </div>
</div>
