<div class="w-100 py-4 wrapper">
  <div class="d-flex flex-column h-100 justify-content-center align-items-center">
    <div class="form-card text-center">
      Уже зарегистрированы?
      <span class="ml-2 link accent-color accent-color__hover" (click)="redirectToLogin()">
      Войти
      </span>
    </div>
    <div class="form-card mt-4">
      <div class="text-center form-title">
        Регистрация
      </div>
      <div class="mt-3 border-bottom border-dark d-flex flex-wrap">
        <div>
          <input id="role-{{role.Participant}}" type="radio" name="role" checked (change)="selectedRole = role.Participant">
          <label for="role-{{role.Participant}}" class="ml-2">
            Я &#0151; участник
          </label>
        </div>
        <div>
          <input id="role-{{role.Manager}}" class="ml-4" type="radio" name="role" (change)="selectedRole = role.Manager">
          <label for="role-{{role.Manager}}" class="ml-2">
            Я &#0151; представитель телеканала
          </label>
        </div>
      </div>
      <div class="mt-3">
        E-mail
      </div>
      <input class="form-control border-dark w-100" type="text" [(ngModel)]="email" (change)="validateEmail()">
      <div *ngIf="formErrors.email" class="validation-error-text">
        Некорректный формат адреса электронной почты
      </div>
      <div class="mt-2">
        Имя и фамилия
      </div>
      <input class="form-control border-dark w-100" type="text" [(ngModel)]="name" (change)="validateName()">
      <div *ngIf="formErrors.name" class="validation-error-text">
        2 слова, каждое с заглавной буквы, не более 50 символов
      </div>
      <div class="mt-2">
        Пароль
      </div>
      <input class="form-control border-dark w-100" [type]="showPasswords ? 'text' : 'password'" autocomplete="off"
             [(ngModel)]="password" (change)="validatePassword()">
      <div *ngIf="formErrors.password" class="validation-error-text">
        Минимум 8 символов
      </div>
      <div class="mt-2">
        Повторите пароль
      </div>
      <input class="form-control border-dark w-100" [type]="showPasswords ? 'text' : 'password'" autocomplete="off"
             [(ngModel)]="passwordConfirmation" (change)="validatePasswordConfirmation()">
      <div *ngIf="formErrors.passwordConfirmation" class="validation-error-text">
        Пароль должен совпадать с паролем, введённым выше
      </div>
      <div class="mt-2 d-flex align-items-center">
        <input id="show-passwords" class="big-checkbox mb-2" type="checkbox" (change)="showPasswords = !showPasswords">
        <label for="show-passwords" class="ml-2">
          Показать пароли
        </label>
      </div>
      <div class="mt-2">
        Ваше фото
      </div>
      <div class="field-description">
        (прикрепите одно фото, размер не более 5 Мб, формат .jpg или .png)
      </div>
      <div class="d-flex justify-content-center">
        <input id="photo" type="file" accept="image/png,image/jpeg"
               (change)="validatePhoto(); extractInputFilesBase64('photo')">
      </div>
      <div *ngIf="formErrors.photo" class="validation-error-text">
        Фото пользователя не отвечает требованиям
      </div>
      <div *ngIf="this.selectedRole === role.Participant">
        <div class="mt-2">
          Город
        </div>
        <input class="form-control border-dark w-100" type="text" autocomplete="off"
               [(ngModel)]="city" (change)="validateCity()">
        <div *ngIf="formErrors.city" class="validation-error-text">
          Длина не более 50 символов
        </div>
        <div class="mt-2">
          Пол
        </div>
        <div class="mt-2 d-flex flex-wrap">
          <div>
            <input id="gender-{{gender.Male}}" type="radio" name="gender" checked (change)="selectedGender = gender.Male">
            <label for="gender-{{gender.Male}}" class="ml-2">
              мужчина
            </label>
          </div>
          <div class="ml-3">
            <input id="gender-{{gender.Female}}" type="radio" name="gender" (change)="selectedGender = gender.Female">
            <label for="gender-{{gender.Female}}" class="ml-2">
              женщина
            </label>
          </div>
        </div>
        <div class="mt-2">
          Дата рождения
        </div>
        <input type="date" class="w-100" [(ngModel)]="birthDate" (change)="validateBirthDate()">
        <div *ngIf="formErrors.birthDate" class="validation-error-text">
          Выберите корректную дату
        </div>
      </div>
      <div *ngIf="selectedRole === role.Manager">
        <div class="mt-2">
          Название канала
        </div>
        <input class="form-control border-dark w-100" type="text" autocomplete="off"
            [(ngModel)]="channelName" (change)="validateChannelName()">
        <div *ngIf="formErrors.channelName" class="validation-error-text">
          Длина не более 50 символов
        </div>
        <div class="mt-2">
          Описание канала
        </div>
        <ckeditor #channelDescriptionEditor [editor]="editor" [(ngModel)]="channelDescription"
                  [config]="channelDescriptionEditorConfig" (change)="validateChannelDescription()"></ckeditor>
        <div *ngIf="formErrors.channelDescription" class="validation-error-text">
          Длина не более 500 символов
        </div>
        <div class="mt-2">
          Фото канала
        </div>
        <div class="field-description">
          (прикрепите до 3-х фото, размер не более 5 Мб, формат .jpg или .png)
        </div>
        <div class="d-flex justify-content-center">
          <input id="channel-photos" type="file" multiple accept="image/png,image/jpeg"
                 (change)="validateChannelPhotos(); extractInputFilesBase64('channel-photos');">
        </div>
        <div *ngIf="formErrors.channelPhotos" class="validation-error-text">
          Фото телеканала не отвечают требованиям
        </div>
      </div>
      <button *ngIf="isBtnSubmitVisible" class="btn w-100 mt-3 badge-pill text-white accent-bg-color accent-bg-color__hover"
        (click)="onSumbit()">
        Отправить
      </button>
      <div *ngIf="!isBtnSubmitVisible" class="d-flex justify-content-center">
        <sa-spinner-dotted [thickness]="150" [color]="'#3f51b5'" [speed]="150"></sa-spinner-dotted>
      </div>
    </div>
  </div>
</div>
<swal #validationErrorSwal title="Некорректные данные" icon="error" text="Проверьте правильность введённых данных">
</swal>
<swal #registrationSuccessSwal title="Аккаунт создан" icon="success" text="Регистрация прошла успешно">
</swal>
<swal #emailAlreadyTakenSwal title="E-mail занят" icon="error" text="Адрес электронной почты уже используется в системе">
</swal>
