<div class="d-flex justify-content-center">
  <div class="d-flex align-items-center pagination-wrapper px-3 py-2">
    <button *ngIf="currentPage > 1" class="btn badge-pill accent-bg-color accent-bg-color__hover text-white"
            (click)="decreasePage()">
      <img src="assets/img/icons/arrow-left.png">
    </button>
    <span class="page-numbers mx-4">{{currentPage}} / {{totalPages}}</span>
    <button *ngIf="currentPage < totalPages" class="btn badge-pill accent-bg-color accent-bg-color__hover text-white"
            (click)="increasePage()">
      <img src="assets/img/icons/arrow-right.png">
    </button>
  </div>
</div>
