.pagination-wrapper {
  border-style: solid;
  border-width: thin;
  border-color: #3f51b5;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px 0 gray;
}

.page-numbers {
  font-size: x-large;
  font-weight: bold;
}
