<div class="d-flex h-75 justify-content-center align-items-center">
  <div class="text-center">
    <div class="not-found-number accent-color">
      404
    </div>
    <div class="not-found-text">
      Страница не найдена
    </div>
    <div class="btn badge-pill accent-bg-color accent-bg-color__hover text-white mt-4 btn-return"
         (click)="router.navigateByUrl('/main')">
      Вернуться на главную
    </div>
  </div>
</div>
