<div class="w-100 py-4 wrapper">
  <div class="d-flex flex-column h-100 justify-content-center align-items-center">
    <div class="form-card">
      <div class="form-title text-center">
        <span *ngIf="projectId == -1">
          Новый проект
        </span>
        <span *ngIf="projectId != -1">
          Редактирование проекта
        </span>
      </div>
      <div class="mt-3">
        Название
      </div>
      <input class="form-control border-dark w-100" type="text" [(ngModel)]="name" (change)="validateName()">
      <div *ngIf="formErrors.name" class="validation-error-text">
        Длина не более 50 символов
      </div>
      <div class="mt-2">
        Фото проекта
      </div>
      <div class="field-description text-center">
        (прикрепите до 3-х фото, размер не более 5 Мб, формат .jpg или .png)
        <br>
        <span *ngIf="projectId != -1">
          (для того, чтобы оставить существующие фото, не заполняйте поле)
        </span>
      </div>
      <div class="d-flex justify-content-center mt-1">
        <input id="photos" type="file" multiple accept="image/png,image/jpeg"
               (change)="validatePhotos(); extractInputFilesBase64()">
      </div>
      <div *ngIf="formErrors.photos" class="validation-error-text">
        Фото проекта не отвечают требованиям
      </div>
      <div class="mt-2">
        Описание проекта
      </div>
      <ckeditor #projectDescriptionEditor [editor]="editor" [(ngModel)]="description"
                [config]="projectDescriptionEditorConfig" (change)="validateDescription()">
      </ckeditor>
      <div *ngIf="formErrors.description" class="validation-error-text">
        Длина не более 1500 символов
      </div>
      <div class="mt-2">
        Город проведения проекта
      </div>
      <input class="form-control border-dark w-100" type="text" [(ngModel)]="city" (change)="validateCity()">
      <div *ngIf="formErrors.city" class="validation-error-text">
        Длина не более 50 символов
      </div>
      <div class="mt-2">
        Максимальное число участников
      </div>
      <div *ngIf="projectId != -1 && minParticipantsCount !== null">
        Уже одобрено заявок: {{minParticipantsCount}}
      </div>
      <input class="form-control border-dark" type="number"
             [min]="(minParticipantsCount === null) ? 1 : minParticipantsCount"
             max="10000" [(ngModel)]="participantsLimit">
      <div class="mt-2">
        Гонорар, Р
      </div>
      <div class="d-flex align-items-center">
        <input type="checkbox" [(ngModel)]="isFeeEnabled" class="big-checkbox" (change)="toggleFee()">
        <input *ngIf="isFeeEnabled" class="form-control border-dark ml-2"
               type="number" min="1" max="1000000000" [(ngModel)]="fee">
      </div>
      <div class="mt-2">
        Дата начала
      </div>
      <input type="date" class="w-100" [(ngModel)]="startsAt" (change)="validateStartDate()">
      <div *ngIf="formErrors.startsAt" class="validation-error-text">
        Дата должна быть позже текущей
      </div>
      <button *ngIf="isBtnSubmitVisible"
              class="btn w-100 mt-3 badge-pill text-white accent-bg-color accent-bg-color__hover"
              (click)="onSubmit()">
        Отправить
      </button>
      <div *ngIf="!isBtnSubmitVisible" class="d-flex justify-content-center">
        <sa-spinner-dotted [thickness]="150" [color]="'#3f51b5'" [speed]="150"></sa-spinner-dotted>
      </div>
      <button *ngIf="isBtnSubmitVisible" class="btn btn-cancel w-100 mt-1 badge-pill accent-color bg-white"
              (click)="router.navigateByUrl('/projects')">
        Отмена
      </button>
    </div>
  </div>
</div>
<swal #validationErrorSwal title="Некорректные данные" icon="error" text="Проверьте правильность введённых данных">
</swal>
<swal #successSwal title="Проект {{(projectId == -1) ? 'создан' : 'обновлён'}}" icon="success" text="Данные сохранены">
</swal>
