.wrapper {
  background: linear-gradient(to top left, #b2c2ff, #8ef8fd) no-repeat fixed;
  min-height: 100%;
}

.form-card {
  min-width: 30%;
  max-width: 50%;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  border-color: #3f51b5;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px 0 gray;
}

@media (min-width: 0px) and (max-width: 600px) {
  .form-card {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.form-title {
  font-weight: bold;
  font-size: larger;
}

.field-description {
  font-size: smaller;
}

.validation-error-text {
  font-size: smaller;
  color: red;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px;
}

.min-participants-warning {
  font-size: smaller;
}

.big-checkbox {
  width: 18px;
  height: 18px;
}

.btn-cancel {
  border-color: #3f51b5;
}
