<div class="w-100 pb-3 wrapper">
  <div class="d-flex pt-4 justify-content-center">
    <div class="title px-3">
      Статистика
    </div>
  </div>
  <div class="ml-5 mt-4 font-weight-bold">
    Количество новых заявок
  </div>
  <!--suppress AngularUndefinedBinding -->
  <div echarts [options]="lineChartOptions" class="bg-white">
  </div>
  <div class="ml-5 mt-4 font-weight-bold">
    Самые популярные каналы
  </div>
  <!--suppress AngularUndefinedBinding -->
  <div echarts [options]="pieChartOptions" [theme]="pieChartColorTheme" class="bg-white">
  </div>
</div>
