.fixed-background {
  background-size: cover;
  background-attachment: fixed;
}

.slide-title-card {
  font-family: Mistral;
  font-size: xxx-large;
  color: #3f51b5;
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #3f51b5;
}

.slide-description {
  background-color: white;
  border-style: solid none solid none;
  border-width: medium;
  border-color: #3f51b5;
  font-weight: bold;
}

.proposals-area {
  width: 65%;
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #3f51b5;
}

.proposal-text {
  font-weight: bold;
}

.image-1 {
  background-image: url("../../assets/img/main-backgrounds/jury.jpg");
}

.image-2 {
  background-image: url("../../assets/img/main-backgrounds/tv-controls-room.jpeg");
}

.image-3 {
  background-image: url("../../assets/img/main-backgrounds/singing-artists.jpg");
}

.image-4 {
  background-image: url("../../assets/img/main-backgrounds/tv-talk-show.jpg");
}

.image-5 {
  background-image: url("../../assets/img/main-backgrounds/audience.png");
}

.image-6 {
  background-image: url("../../assets/img/main-backgrounds/tv-studio.jpg");
}
