<div class="h-100 w-100">
  <div class="h-75 w-100 image-1 fixed-background">
    <div class="d-flex h-100 w-100 justify-content-center align-items-center">
      <div class="slide-title-card px-3 py-1">
        Verdict
      </div>
    </div>
  </div>
  <div class="slide-description py-2 text-center">
    платформа подбора участников медийных мероприятий
  </div>
  <div class="h-75 w-100 image-2 fixed-background">
    <div class="d-flex h-100 w-100 justify-content-center align-items-center">
      <div class="slide-title-card px-3 py-1">
        Объёмная база телеканалов
      </div>
    </div>
  </div>
  <div class="slide-description py-2 text-center">
    найдите площадку, на которой Ваш талант откроется наиболее широкой аудитории
  </div>
  <div class="h-75 w-100 image-3 fixed-background">
    <div class="d-flex h-100 w-100 justify-content-center align-items-center">
      <div class="slide-title-card px-3 py-1">
        Популярные проекты
      </div>
    </div>
  </div>
  <div class="slide-description py-2 text-center">
    соответствующая атмосфера, знаменитые жюри, заинтересованные зрители, удобные места проведения
  </div>
  <div class="h-75 w-100 image-4 fixed-background">
    <div class="d-flex h-100 w-100 justify-content-center align-items-center">
      <div class="slide-title-card px-3 py-1">
        Проверенные предложения
      </div>
    </div>
  </div>
  <div class="slide-description py-2 text-center">
    заявки оцениваются напрямую официальными представителями телеканалов
  </div>
  <div class="h-75 w-100 image-5 fixed-background">
    <div class="d-flex h-100 w-100 justify-content-center align-items-center">
      <div class="slide-title-card px-3 py-1">
        Бесплатное участие
      </div>
    </div>
  </div>
  <div class="slide-description py-2 text-center">
    присоединяйтесь к понравившимся проектам без дополнительных затрат и комиссий
  </div>
  <div class="h-100 w-100 image-6 fixed-background">
    <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
      <div class="slide-title-card px-3 py-1 text-center">
        <div>
          Это Ваш шанс!
        </div>
        <div>
          Время действовать!
        </div>
      </div>
      <div class="proposals-area px-3 mt-4">
        <div class="row py-3">
          <div class="col-lg-8 proposal-text">
            <div class="d-flex h-100 align-items-center">
              <div>
                Я &#0151; участник, ищу проект для подачи заявки
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="d-flex justify-content-center">
              <button class="btn badge-pill accent-bg-color accent-bg-color__hover text-white w-100"
                      (click)="router.navigateByUrl('/channels')">
                Каталог телеканалов
              </button>
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn badge-pill accent-bg-color accent-bg-color__hover text-white mt-2 w-100"
                      (click)="router.navigateByUrl('/projects')">
                Каталог проектов
              </button>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-lg-8 proposal-text">
            Я &#0151; представитель телеканала, ищу участников
          </div>
          <div class="col-lg-4">
            <div class="d-flex justify-content-center">
              <button class="btn badge-pill accent-bg-color accent-bg-color__hover text-white w-100"
                      (click)="redirectManagerToProjects()">
                Открыть набор на проект
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
