﻿<div class="w-100 py-4 wrapper">
  <div class="d-flex flex-column h-100 justify-content-center align-items-center">
    <div class="form-card">
      <div class="text-center form-title">
        Новая заявка на участие в проекте
      </div>
      <div class="text-center mt-4">
        Личная информация Вашего аккаунта <br> будет автоматически прикреплена к заявке
      </div>
      <div class="mt-3">
        Проект
      </div>
      <input class="form-control border-dark w-100" disabled type="text" [value]="projectName">
      <div class="mt-2">
        Расскажите о себе
      </div>
      <ckeditor #applicationDescriptionEditor [editor]="editor" [(ngModel)]="description"
                [config]="applicationDescriptionEditorConfig" (change)="validateDescription()">
      </ckeditor>
      <div *ngIf="formErrors.description" class="validation-error-text">
        Длина не более 1500 символов
      </div>
      <div class="mt-2">
        Запишите видео-резюме
      </div>
      <div class="field-description text-center">
        (прикрепите один видеофайл расширения .mp4,
        <br> размер не более 100 Мб,
        <br> при качестве 720p это около 5 минут)
      </div>
      <div class="d-flex justify-content-center mt-1">
        <input id="video" type="file" accept="video/mp4" (change)="validateVideo(); extractVideoBase64()">
      </div>
      <div *ngIf="formErrors.video" class="validation-error-text">
        Видео не отвечает требованиям
      </div>
      <div class="field-description text-center mt-2">
        При одобрении или отклонении заявки представителем телеканала
        <br>Вы получите письмо на электронную почту
      </div>
      <button *ngIf="isBtnSubmitVisible"
              class="btn w-100 mt-3 badge-pill text-white accent-bg-color accent-bg-color__hover"
              (click)="onSubmit()">
        Отправить
      </button>
      <div *ngIf="!isBtnSubmitVisible" class="d-flex justify-content-center">
        <sa-spinner-dotted [thickness]="150" [color]="'#3f51b5'" [speed]="150"></sa-spinner-dotted>
      </div>
      <button *ngIf="isBtnSubmitVisible"
              class="btn btn-cancel w-100 mt-1 badge-pill accent-color bg-white"
              (click)="router.navigateByUrl('/projects')">
        Отмена
      </button>
    </div>
  </div>
</div>
<swal #validationErrorSwal title="Некорректные данные" icon="warning" text="Проверьте правильность введённых данных">
</swal>
<swal #errorSwal title="Не удалось создать заявку" icon="error" text="Невозможно подать заявку на выбранный проект">
</swal>
<swal #successSwal title="Данные успешно сохранены" icon="success" text="Номер Вашей заявки #{{createdApplicationId}}">
</swal>
