<div class="w-100 wrapper pb-3">
  <div class="d-flex w-100 pt-4 justify-content-center">
    <div class="title px-3">
      Телеканалы
    </div>
  </div>
  <div class="d-md-flex flex-wrap w-100 mt-4 px-4 justify-content-end">
    <div class="w-50 search-field-wrapper mt-1 text-right">
      <input class="search-field" type="text" autocomplete="no" placeholder="Введите название"
             [(ngModel)]="searchNameInputText" (keydown)="searchNameInputEvent.next(undefined)">
      <span class="ml-2">
        <button class="btn badge-pill accent-bg-color accent-bg-color__hover text-white">
          Искать
        </button>
      </span>
    </div>
  </div>
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <sa-spinner-dotted [size]="80" [thickness]="150" [color]="'#3f51b5'" [speed]="150"></sa-spinner-dotted>
  </div>
  <div *ngIf="channelsCatalog !== undefined && channelsCatalog.channels.length == 0"
       class="d-flex justify-content-center">
    <div class="empty-result-message text-center w-75 mt-3">
      <span *ngIf="searchName === ''">
        На сайте ведутся технические работы, приносим извинения за неудобства
      </span>
      <span *ngIf="searchName !== ''">
        Поиск не дал результатов
      </span>
    </div>
  </div>
  <div *ngIf="channelsCatalog !== undefined" class="row px-5">
    <div *ngFor="let channel of channelsCatalog.channels" class="col-lg-6 mt-4">
      <div class="channel-card bg-white px-5 py-3">
        <div class="text-center channel-name">
          {{channel.name}}
        </div>
        <div class="d-sm-flex mt-4 justify-content-around">
          <img *ngFor="let photo of channel.photos" class="channel-photo" src="{{photo}}">
        </div>
        <div class="d-flex mt-4 justify-content-center">
          <div [innerHTML]="channel.description">
          </div>
        </div>
        <div class="d-flex mt-2 justify-content-end">
          <button class="btn badge-pill accent-bg-color accent-bg-color__hover text-white"
            (click)="redirectToProjects(channel.id)">
            Проекты
          </button>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="channelsCatalog === undefined || channelsCatalog.channels.length == 0" class="my-4">
    <app-pagination #paginator></app-pagination>
  </div>
</div>
