.wrapper {
  background: linear-gradient(to top left, #b2c2ff, #8ef8fd) no-repeat fixed;
  min-height: 100%;
}

.title {
  font-weight: bold;
  font-size: x-large;
}

.controls-area {
  border-style: solid;
  border-width: thin;
  border-color: #3f51b5;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px 0 gray;
}

.big-checkbox {
  width: 18px;
  height: 18px;
}

.empty-result-message {
  border-style: solid;
  border-width: thin;
  border-color: #3f51b5;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px 0 gray;
}

.link {
  font-weight: bold;
  text-decoration-line: underline;
  cursor: pointer;
}

.application-card {
  border-style: solid;
  border-width: thin;
  border-color: #3f51b5;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px 0 gray;
}

.application-id {
  font-weight: bold;
  font-size: larger;
}
