<div class="w-100 wrapper pb-3">
  <div class="d-flex w-100 pt-4 justify-content-center">
    <div class="title px-3">
      Заявки
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="d-md-flex w-75 flex-wrap w-75 mt-3 mx-4 px-4 justify-content-around align-items-center controls-area">
      <div>
        <span class="mr-1">
          Сортировка
        </span>
        <select (change)="onSortingFieldChange($event)">
          <option [value]="sortingField.Status" [selected]="selectedSortingField == sortingField.Status">
            по статусу
          </option>
          <option [value]="sortingField.CreatedAt" [selected]="selectedSortingField == sortingField.CreatedAt">
            по дате создания
          </option>
          <option [value]="sortingField.ProjectName" [selected]="selectedSortingField == sortingField.ProjectName">
            по названию проекта
          </option>
          <option *ngIf="currentRole == role.Manager" [value]="sortingField.ParticipantName"
                  [selected]="selectedSortingField == sortingField.ParticipantName">
            по имени заявителя
          </option>
        </select>
      </div>
      <div>
        <span class="pt-1 mr-1">
          Направление
        </span>
        <button class="accent-bg-color accent-bg-color__hover badge-pill text-white" (click)="toggleSortingDirection()">
          <img
            [src]="(selectedSortingDirection == sortingDirection.Ascending) ? 'assets/img/icons/sort-asc.png' : 'assets/img/icons/sort-desc.png'">
        </button>
      </div>
      <div class="mt-2 d-flex align-items-center">
        <input id="only-pending" class="big-checkbox mb-2" type="checkbox"
               [(ngModel)]="onlyPending" (change)="onFiltersChange()">
        <label for="only-pending" class="ml-2">
          Ожидающие ответа
        </label>
      </div>
    </div>
  </div>

  <div *ngIf="isCatalogLoading" class="d-flex justify-content-center">
    <sa-spinner-dotted [size]="80" [thickness]="150" [color]="'#3f51b5'" [speed]="150"></sa-spinner-dotted>
  </div>
  <div *ngIf="!isCatalogLoading && applicationsCatalog !== undefined && applicationsCatalog.applications.length == 0"
       class="d-flex mt-4 justify-content-center">
    <div *ngIf="onlyPending == true" class="empty-result-message text-center w-75 mt-3">
      Не найдены заявки, ожидающие ответа
    </div>
    <div *ngIf="onlyPending == false && currentRole == role.Participant"
         class="empty-result-message text-center w-75 mt-3">
      Здесь будут отображаться поданные Вами заявки.
      <br>
      Создать заявку можно в разделе
      <span class="accent-color accent-color__hover link" (click)="redirectToProjects()">
        проекты
      </span>
    </div>
    <div *ngIf="onlyPending == false && currentRole == role.Manager"
         class="empty-result-message text-center w-75 mt-3">
      Здесь будут отображаться заявки участников на проекты Вашего канала.
      <br>
      Открыть набор на новый проект можно в разделе
      <span class="accent-color accent-color__hover link" (click)="redirectToProjects()">
        проекты
      </span>
    </div>
  </div>

  <div *ngIf="!isCatalogLoading && applicationsCatalog !== undefined" class="row px-5">
    <div *ngFor="let application of applicationsCatalog.applications" class="col-lg-6 mt-4">
      <div class="application-card bg-white px-5 py-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <div class="application-id accent-color">
            #{{application.id}}
          </div>
          <div *ngIf="application.status == applicationStatus.Pending">
            <img class="mr-1" src="assets/img/icons/status-pending.png">
            Ожидает ответа
          </div>
          <div *ngIf="application.status == applicationStatus.Canceled">
            <img class="mr-1" src="assets/img/icons/status-canceled.png">
            Отменена
          </div>
          <div *ngIf="application.status == applicationStatus.Approved">
            <img class="mr-1" src="assets/img/icons/status-approved.png">
            Одобрена
          </div>
          <div *ngIf="application.status == applicationStatus.Declined">
            <img class="mr-1" src="assets/img/icons/status-declined.png">
            Отклонена
          </div>
          <div>
            {{application.createdAt}}
          </div>
        </div>
        <div class="my-2">
          Проект: {{application.projectName}}
        </div>
        <div *ngIf="currentRole == role.Manager" class="d-flex flex-wrap justify-content-center align-items-center">
          <img class="mr-3" [src]="application.participant!.photo">
          <div>
            {{application.participant!.name}}
            <br>
            {{application.participant!.email}}
            <br>
            <span *ngIf="application.participant!.gender == gender.Male">
              мужчина
            </span>
            <span *ngIf="application.participant!.gender == gender.Female">
              женщина
            </span>
            <br>
            {{application.participant!.age}}
            <br>
            {{application.participant!.city}}
          </div>
        </div>
        <div *ngIf="currentRole == role.Participant" class="d-flex flex-wrap justify-content-center align-items-center">
          <img class="mr-3" [src]="application.manager!.photo">
          <div>
            Ревьюер:
            <br>
            {{application.manager!.name}}
            <br>
            (канал {{application.manager!.channelName}})
          </div>
        </div>
        <div class="d-flex mt-4 justify-content-center">
          <div [innerHTML]="application.description"></div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn badge-pill accent-bg-color accent-bg-color__hover text-white"
                  (click)="redirectToVideoPlayer(application.videoId)">
            <img src="assets/img/icons/play-video.png">
            Смотреть видео
          </button>
        </div>
        <div *ngIf="application.status == applicationStatus.Pending"
             class="d-flex flex-wrap mt-4 justify-content-center">
          <button *ngIf="currentRole == role.Manager"
                  class="btn badge-pill accent-bg-color accent-bg-color__hover text-white"
                  (click)="approveApplication(application.id)">
            <img src="assets/img/icons/approve.png">
            Одобрить
          </button>
          <button *ngIf="currentRole == role.Manager"
                  class="btn ml-2 badge-pill accent-bg-color accent-bg-color__hover text-white"
                  (click)="declineApplication(application.id)">
            <img src="assets/img/icons/decline.png">
            Отклонить
          </button>
          <button *ngIf="currentRole == role.Participant"
                  class="btn badge-pill accent-bg-color accent-bg-color__hover text-white"
                  (click)="cancelApplication(application.id)">
            <img class="mr-1" src="assets/img/icons/cancel.png">
            Отменить заявку
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<swal #confirmCancellationSwal
      title="Отмена заявки #{{swalApplicationId}}"
      text="Вы действительно хотите отменить заявку? После отмены Вы сможете подать новую заявку на проект"
      icon="question"
      [swalOptions]="confirmationSwalOptions"
      [showCancelButton]="true"
      (confirm)="onCancellationConfirmed(swalApplicationId)">
</swal>
<swal #cancellationSuccessSwal title="Заявка успешно отменена" icon="success" text="Изменения сохранены">
</swal>
<swal #confirmApprovalSwal
      title="Одобрение заявки #{{swalApplicationId}}"
      text="Вы действительно хотите пригласить участника на проект? Это действие будет невозможно отменить"
      icon="question"
      [swalOptions]="confirmationSwalOptions"
      [showCancelButton]="true"
      (confirm)="onApprovalConfirmed(swalApplicationId)">
</swal>
<swal #approvalSuccessSwal title="Заявка успешно одобрена" icon="success" text="Изменения сохранены">
</swal>
<swal #confirmDeclinationSwal
      title="Отклонение заявки #{{swalApplicationId}}"
      text="Вы действительно хотите отправить участнику отказ? Это действие будет невозможно отменить"
      icon="question"
      [swalOptions]="confirmationSwalOptions"
      [showCancelButton]="true"
      (confirm)="onDeclinationConfirmed(swalApplicationId)">
</swal>
<swal #declinationSuccessSwal title="Заявка успешно отклонена" icon="success" text="Изменения сохранены">
</swal>
