/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  overflow-x: hidden;
}

.accent-color {
  color: #3f51b5
}

.accent-color__hover:hover {
  color: #9c27b0;
}

.accent-bg-color {
  background-color: #3f51b5;
}

.accent-bg-color__hover:hover {
  background-color: #9c27b0;
}
