<div class="accent-bg-color">
  <div class="d-flex">
    <div class="brand pl-5 pt-1">
      Verdict
    </div>
    <div class="d-flex flex-wrap w-100 justify-content-end align-items-center px-5">
      <div *ngIf="router.url !== '/main'" class="menu-link flex-item-margin"
           (click)="router.navigateByUrl('/main')">
        <img src="../../assets/img/navbar-icons/main.png">
        Главная
      </div>
      <div *ngIf="!router.url.startsWith('/channels')" class="menu-link flex-item-margin"
           (click)="router.navigateByUrl('/channels')">
        <img src="assets/img/navbar-icons/channels.png">
        Каналы
      </div>
      <div *ngIf="!router.url.startsWith('/projects')" class="menu-link flex-item-margin"
           (click)="router.navigateByUrl('/projects')">
        <img src="assets/img/navbar-icons/projects.png">
        Проекты
      </div>
      <div *ngIf="router.url !== '/login' && currentRole === null" class="menu-link flex-item-margin"
           (click)="router.navigateByUrl('/login')">
        <img src="assets/img/navbar-icons/login.png">
        Войти
      </div>
      <div *ngIf="!router.url.startsWith('/applications') && (currentRole === role.Participant || currentRole === role.Manager)"
           (click)="router.navigateByUrl('/applications')" class="menu-link flex-item-margin">
        <img src="assets/img/navbar-icons/applications.png">
        Заявки
      </div>
      <div class="menu-link flex-item-margin" *ngIf="router.url !== '/admin-panel' && currentRole === role.Admin"
           (click)="router.navigateByUrl('/admin-panel')">
        <img src="assets/img/navbar-icons/statistics.png">
        Статистика
      </div>
      <div *ngIf="currentRole !== null" class="user-name flex-item-margin">
        <span>
          <img [src]="(currentRole === role.Admin) ? '../../assets/img/navbar-icons/admin-profile-photo.png' : userPhoto"
               class="user-photo rounded-circle">
        </span>
        <span *ngIf="currentRole !== role.Admin">
          {{userName}}
        </span>
        <span *ngIf="currentRole === role.Admin">
          Администратор
        </span>
      </div>
      <div *ngIf="currentRole !== null" class="menu-link flex-item-margin" (click)="logout()">
        Выйти
      </div>
    </div>
  </div>
</div>
