.brand {
  font-family: Mistral;
  color: white;
  font-size: xx-large;
}

.flex-item-margin {
  margin-right: 25px;
}

.menu-link {
  color: white;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}

.menu-link:hover {
  cursor: pointer;
  padding-bottom: 1px;
  border-bottom: solid 2px white;
}

.user-name {
  color: white;
  font-size: large;
  font-style: italic;
  white-space: nowrap;
}

.user-photo {
  width: 50px;
  height: 50px;
}
