.wrapper {
  background: linear-gradient(to top left, #b2c2ff, #8ef8fd) no-repeat fixed;
  min-height: 100%;
}

.link {
  font-weight: bold;
  text-decoration-line: underline;
  cursor: pointer;
}

.form-card {
  min-width: 30%;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  border-color: #3f51b5;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px 0 gray;
}

.form-title {
  font-weight: bold;
  font-size: larger;
}

.big-checkbox {
  width: 18px;
  height: 18px;
}
