<div class="w-100 h-100 wrapper">
  <div class="d-flex flex-column h-100 justify-content-center align-items-center">
    <div class="form-card text-center">
      Нет аккаунта?
      <span class="ml-2 link accent-color accent-color__hover" (click)="redirectToRegistration()">
      Зарегистрируйтесь
      </span>
    </div>
    <div class="form-card mt-4">
      <div class="text-center form-title">
        Вход в аккаунт
      </div>
      <div class="mt-3">
        E-mail
      </div>
      <input class="form-control border-dark w-100" type="text" [(ngModel)]="email">
      <div class="mt-2">
        Пароль
      </div>
      <input class="form-control border-dark w-100" [type]="showPassword ? 'text' : 'password'"
             [(ngModel)]="password" (keydown)="handleEnterPress($event)">
      <div class="mt-2 d-flex align-items-center">
        <input id="show-passwords" class="big-checkbox mb-2" type="checkbox" (change)="showPassword = !showPassword">
        <label for="show-passwords" class="ml-2">
          Показать пароль
        </label>
      </div>
      <button *ngIf="isBtnSubmitVisible" (click)="onSubmit()"
              class="btn w-100 mt-3 badge-pill text-white accent-bg-color accent-bg-color__hover">
        Отправить
      </button>
      <div *ngIf="!isBtnSubmitVisible" class="d-flex justify-content-center">
        <sa-spinner-dotted [thickness]="150" [color]="'#3f51b5'" [speed]="150"></sa-spinner-dotted>
      </div>
    </div>
  </div>
</div>
<swal #loginErrorSwal title="Неверные данные" icon="error" text="Неверный e-mail или пароль"></swal>
<swal #validationErrorSwal title="Введите данные" icon="warning" text="Заполните все поля"></swal>
